/* div {
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
} */

/* img{
    border-radius: 40px;
    padding-left: 10px;
    padding-left: 10px;
} */



/* .last{
    border-radius: 60px;
} */

.image-row{
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: white;
}

.image-row ul{
    list-style-type: none;
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 30px;
    background-color: #ffdc73;
    border-radius: 30px;
}

.title:hover{
    background-color: beige;
}


.image-row ul li{
    margin-top: 15px;
    margin-bottom: 20px;
}


